small {
  color: gray;
  text-align: right;
  font-size: 10px;
}

input[dir="ltr"]
{
  text-align: left;
}

input[dir="ltr"]::placeholder
{
  text-align: right;
}

label[type="radio"]{
  color: white;
}